doctype html
html(lang='en')
    head
        title Person Page for #{data.Name}
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="/Content/account.css")
        link(rel="stylesheet" href="/Content/browse.css")
    body
      div(id="col2" class="col2")
        h1(class="headers") #{data.Name}
        div
          p(style="color:black") #{data.ID}
        #elemInfo
          img#infoPic.col2L(src='/Content/stockPersonImage.jpg' alt='Movie Picture')
          #info
            h2 Name: 
            p #{data.Name}
            h2 Movies:
            
            each m in data.MovieNames.split(', ')
              br
              - let lin = `/movies/${moviesMap[m]}`
              a(href=lin) #{"  "+m}
            else
              p None
            h2 Collaborators:
            
            each person in data.Collaborators.split(', ')
              br
              - let lin = `/people/${peopleMap[person]}`
              a(href=lin) #{"  "+person}
            else
              p None

            h2 Followers:

            each person in data.Followers
              br
              - let lin = `/users/${person}`
              a(href=lin) #{accountsMapID[person]}
            else
              p None
   




      include displaySidebar
    script(src="/main.js")
    script(src="/forms.js")